* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quiz-container {
    background-color: #ffffff;
    width: 460px;
    max-width: 100%;
    border-radius: 5px;
}

.quiz-header {
    padding: 45px;
}

h2 {
    padding: 15px 20px;
    text-align: center;
}

li {
    list-style: none;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

    li label {
        padding-left: 8px;
    }

#questions {
    margin: 0;
    text-align: center;
    padding: 0 0 15px 0;
}

button {
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 18px;
    color: #ffffff;
    background-color: #b71540;
    transition: 0.5s;
    border-radius: 0 0 5px 5px;
}

    button:hover {
        background-color: #850628;
    }
